# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Misc Stuff
*.dblite
*.pyc
cache
*.log
*.config
*.creator
*.creator.user
*.files
*.includes
jackmix/jackmix
*.moc
libgui/slider_test
libcontrol/controlsender_test
libgui/channelselector_test
libgui/midicontrolchannelassigner_test
